includes:
  - phpstan-baseline.neon

parameters:
  level: max
  checkMissingIterableValueType: false
  paths:
    - src
    - tests
  excludePaths:
    - src/QueryDsl.php
    - tests/App/database/factories
  ignoreErrors:
    - '#Call to an undefined method ElasticScoutDriverPlus\\Builders\\SearchRequestBuilder::\w+\(\)#'
