parameters:
	ignoreErrors:
		-
			message: "#^Method Elastic\\\\ScoutDriverPlus\\\\Builders\\\\SearchParametersBuilder\\:\\:resolveJoinedIndexName\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Builders/SearchParametersBuilder.php

		-
			message: "#^Parameter \\#1 \\$items of class Illuminate\\\\Database\\\\Eloquent\\\\Collection constructor expects Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<int, TModel of Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|iterable\\<int, TModel of Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|null, Illuminate\\\\Support\\\\Collection\\<int, Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\> given\\.$#"
			count: 1
			path: src/Decorators/SearchResult.php

		-
			message: "#^Cannot call method searchableAs\\(\\) on mixed\\.$#"
			count: 2
			path: src/Engine.php

		-
			message: "#^Cannot call method makeFromModels\\(\\) on mixed\\.$#"
			count: 1
			path: src/Jobs/RemoveFromSearch.php

		-
			message: "#^Cannot call method searchableAs\\(\\) on mixed\\.$#"
			count: 1
			path: src/Jobs/RemoveFromSearch.php

		-
			message: "#^Method Elastic\\\\ScoutDriverPlus\\\\QueryParameters\\\\Transformers\\\\CallbackArrayTransformer\\:\\:transform\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/QueryParameters/Transformers/CallbackArrayTransformer.php
