includes:
  - phpstan-baseline.neon

parameters:
  level: max
  checkMissingIterableValueType: false
  paths:
    - src
    - tests
  excludePaths:
    - src/CustomSearch.php
  ignoreErrors:
    - '#Call to an undefined method ElasticScoutDriverPlus\\Builders\\SearchRequestBuilder::\w+\(\)#'
