parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:searchableUsing\\(\\)\\.$#"
			count: 1
			path: src/Builders/SearchRequestBuilder.php

		-
			message: "#^PHPDoc tag @return contains unresolvable type\\.$#"
			count: 9
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:boolSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 9
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:rawSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:nestedSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:matchAllSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:matchNoneSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:matchSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:matchPhraseSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:matchPhrasePrefixSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Method ElasticScoutDriverPlus\\\\Tests\\\\App\\\\Model\\:\\:multiMatchSearch\\(\\) with return type void returns ElasticScoutDriverPlus\\\\Builders\\\\SearchRequestBuilder but should not return anything\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\HigherOrderCollectionProxy\\:\\:searchableAs\\(\\)\\.$#"
			count: 1
			path: src/Decorators/EngineDecorator.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getScoutKey\\(\\)\\.$#"
			count: 1
			path: src/Factories/LazyModelFactory.php

		-
			message: "#^Cannot call method run\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.$#"
			count: 4
			path: tests/Integration/TestCase.php

