parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:searchableUsing\\(\\)\\.$#"
			count: 1
			path: src/Builders/SearchRequestBuilder.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getScoutKey\\(\\)\\.$#"
			count: 1
			path: src/Engine.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getScoutKey\\(\\)\\.$#"
			count: 1
			path: src/Factories/LazyModelFactory.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getScoutKey\\(\\)\\.$#"
			count: 1
			path: src/Jobs/RemoveFromSearch.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:searchableAs\\(\\)\\.$#"
			count: 1
			path: src/Support/ModelScope.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: tests/App/Model.php

		-
			message: "#^Call to an undefined static method ElasticScoutDriverPlus\\\\Support\\\\Query\\:\\:tagged\\(\\)\\.$#"
			count: 1
			path: tests/Integration/Queries/CustomQueryTest.php

		-
			message: "#^Cannot call method run\\(\\) on Illuminate\\\\Testing\\\\PendingCommand\\|int\\.$#"
			count: 4
			path: tests/Integration/TestCase.php

